//
// Pagination
// ----------------------------

.pagination {

  display: inline-block;
  padding-left: 0;
  margin: $line-height-computed 0;

  > li {
    display: inline;

    > a,
    > span {
      float: left; // Collapse white-space
      padding: $pagination-padding-vertical $pagination-padding-horizontal;
      line-height: $line-height-base;
      text-decoration: none;
      border-left: 1px solid $pagination-border;
      color: $text-color;
      font-weight: bold;
    }

    // Primary color on active
    &.active {
      > a,
      > span {
        color: $brand-primary;
      }
    }

    > a {

      // Enable underline on hover
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }

    // Disable border-left on first child
    &:first-child {
      > a,
      > span {
        border-left: none;
      }
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-bg;
      border-color: $pagination-border;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  @include pagination-size($pagination-padding-vertical, $pagination-padding-horizontal, $font-size-large, $border-radius-large);
}

// Small
.pagination-sm {
  @include pagination-size($pagination-padding-vertical, $pagination-padding-horizontal, $font-size-small, $border-radius-small);
}
