
// Typography
// ==========
//
// The Purple brand font is Helvetica Neue and consists of five weights.
// Helvetica Neue should be used wherever text is displayed as a graphic.
//
// Text as image
// -------------
//
// Helvetica Neue should be used wherever text is displayed as a graphic. The
// advantage of this method is that you have complete control over every aspect
// of the typography. However, the disadvantage of working with text as an image
// is that it is difficult and time consuming to change if, for example, you
// need to translate the text. Displaying text as an image is not recommended
// for general use and should only be done when expressing the Purple brand,
// i.e. marketing messages.
//
// Web font
// --------
//
// Arial is a standard system font used by browsers. Whilst the majority of text
// on an Purple site is HTML Arial, the page designs also occasionally use a
// graphical version of Helvetica Neue to reinforce the brand identity.
//
// Sizes
// -----
//
// Try to create a hierarchy on the page, with the most important heading or
// call to action largest. This also helps users scan down the page. Stick to a
// consistent range of sizes for each page, ensuring that HTML text is resizable
// in browsers.
// The pixel definitions provided here act as a guideline, but be aware that
// sizes are not fixed and can display differently depending on the user
// environment.
//
// Colour
// ------
//
// Generally headings should be orange and body copy grey/black. This is for the
// majority of white page backgrounds. On coloured or photographic backgrounds,
// use white, grey or orange copy depending on the best contrast. Contrast and
// legibility are of paramount importance and must be closely observed in order
// to reach AA accessibility guidelines. Don’t use more than one colour in a
// title. For advice on obtaining fonts and a usage license, please contact the
// global brand team.


// Font faces
// -------------------------

@font-face { font-family: 'Helvetica Neue'; src: url('#{$icon-path}HelvNeue35_Cyr.ttf') format('truetype'); font-weight: 100; }
@font-face { font-family: 'Helvetica Neue'; src: url('#{$icon-path}HelvNeue45_Cyr.ttf') format('truetype'); font-weight: 200; }
@font-face { font-family: 'Helvetica Neue'; src: url('#{$icon-path}HelvNeue55_Cyr.ttf') format('truetype'); font-weight: 400; }
@font-face { font-family: 'Helvetica Neue'; src: url('#{$icon-path}HelvNeue65_Cyr.ttf') format('truetype'); font-weight: 700; }
@font-face { font-family: 'Helvetica Neue'; src: url('#{$icon-path}HelvNeue75_Cyr.ttf') format('truetype'); font-weight: 900; }


// Original type
// -------------------------

@import "sass-bootstrap/lib/type";


// Tweaks
// -------------------------

h1, .h1 { font-weight: $font-weight-h1; }
h2, .h2 { font-weight: $font-weight-h2; }
h3, .h3 { font-weight: $font-weight-h3; }
h4, .h4 { font-weight: $font-weight-h4; }
h5, .h5 { font-weight: $font-weight-h5; }
h6, .h6 { font-weight: $font-weight-h6; }

h1,
h2,
h3 {
  margin-top: ($line-height-computed * 1.5);
  margin-bottom: ($line-height-computed);
}
h4,
h5,
h6 {
  margin-top: ($line-height-computed);
  margin-bottom: ($line-height-computed);
}
