/**
 * Header
 */

$header-margin-top: 20px;
$header-margin-bottom: 20px;

/**
 * Bootstrap variables
 */

// Components
// Based on 14px font-size and 1.428 line-height (~20px to start)

$border-radius-base:  0;
$border-radius-large: 0;
$border-radius-small: 0;

// Navbar

$navbar-default-border: #cacaca;

$theme-color: #ff6600;

$nav-link-padding: 5px 15px;
