/**
 * Header
 */

$header-margin-top: 20px !default;
$header-margin-bottom: 20px !default;

/**
 * Bootstrap variables
 */

// Components
// Based on 14px font-size and 1.428 line-height (~20px to start)

$border-radius-base:             0 !default;
$border-radius-large:            0 !default;
$border-radius-small:            0 !default;

@import "sass-bootstrap/lib/variables";
